<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roll Game</title>
    <link rel="shortcut icon" href="#" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Roll Game</h1>
    </header>
    <section id="events">
      <button @click="generateNumber">Roll!</button>
      <p v-if="playedNumbers.length === 0">No rolls played!</p>
      <ul v-else>
        <li v-for="number in playedNumbers">{{ number }}</li>
      </ul>
    </section>
  </body>
</html>
